.container {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main ul {
  list-style :none;
  margin: 0;
}

.main li {
  display: inline-block;
  margin: 20px;
}